@import url('https://fonts.googleapis.com/css?family=Trirong');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side{
    position: relative;
    background: #003147;
    padding: 40px;
}

.BrianProfileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.BrianProfileText .imgDP{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.BrianProfileText .imgDP img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.BrianProfileText h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    line-height: 1.4em;
}

.BrianProfileText h2 span{
    font-size: 0.7em;
    
}

.ContactDetail{
    padding-top: 20px;
}

.title{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-weight: 300;
}


.ContactDetail ul {
    position: relative;

}

.ContactDetail ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.ContactDetail ul li .icon{
    display: inline-block;
    width: 1pc;
    font-size: 15px;
    color: #03a9f4
}

.ContactDetail span{
    color: #fff;
    font-size: 11px;
    font-weight: 300;
}

.ContactDetail-Education {
    padding-top: 20px;
}

.ContactDetail-Education ul {
    position: relative;
}

.ContactDetail-Education ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.ContactDetail-Education ul li .icon{
    display: inline-block;
    width: 1pc;
    font-size: 15px;
    color: #03a9f4
}

.ContactDetail-Education span{
    color: #fff;
    font-size: 11px;
    font-weight: 300;
}


.ContactDetail-languages{
    padding-top: 20px;
}

.ContactDetail-languages ul{
    position: relative;
}

.ContactDetail-languages ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.ContactDetail-languages span{
    color: #fff;
    font-size: 11px;
    font-weight: 300;

}


.ContactDetail-languages .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #808080;
    display: block;
    margin-top: 5px;

}

.ContactDetail-languages .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}




.ContactDetail-skills{
    padding-top: 20px;
}

.ContactDetail-skills ul{
    position: relative;
}

.ContactDetail-skills ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    text-transform: uppercase;
}

.ContactDetail-skills span{
    color: #fff;
    font-size: 11px;
    font-weight: 300;

}


.ContactDetail-skills .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #808080;
    display: block;
    margin-top: 5px;

}

.ContactDetail-skills .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.container .right_side{
    position: relative;
    background: #fff;
    padding: 40px;
}

.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 300;

}

.right_side p{
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-weight: 300;
}
.about p{
    font-size: 13px;
    word-spacing: 1.5px;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year-company{
    min-width: 150px;
}

.year-company h5{
    margin-bottom: 5px;
    font-weight: 300;
    color: #838c90;
    
}

.text ul{
    position: relative;
}

.text ul li{
    position: relative;
    list-style: none;
    margin: 1.5px 0;
    cursor: pointer;
    font-weight: 300;
    word-spacing: 2px;

}
.text h4{
    color: #247676;
    text-transform: uppercase;
    font-size: 15px;
    
}

.text ul{
    position: relative;
}

.text ul li span{
    position: relative;
    margin: 10px 0;
    color: #646262;
    font-weight: 300;
    font-size: 14px;
}
.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;

}

.skills .box h6{
    text-transform: uppercase;
    color: #4D5454;
    font-weight: 300;
}

.skills .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #808080;
    display: block;
    margin-top: 5px;

}
.skills .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
#imgDP{
    border-radius: 50%;
}

@media (max-width: 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}
